<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>customerList</title>
</head>

<body>
    <div id="app">
      <el-input placeholder="请输入用户名" v-model="userName"></el-input>
      <el-input placeholder="请输入邮箱" v-model="email" ></el-input>
      <el-input placeholder="请选择创建时间" type="date" v-model="createTime" ></el-input>
      <el-select v-model="status" placeholder="请选择">
        <el-option
          v-for="item in selectstatus"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select><br>
      <el-button type="primary" @click="queryCustomerClick" round>查询</el-button>
        <template>
            <el-table
              :data="pageList.list"
              stripe
              style="width: 100%">
              <el-table-column
                prop="userName"
                label="用户名"
                width="180">
              </el-table-column>
              <el-table-column
                prop="realName"
                label="真实姓名">
              </el-table-column>
              <el-table-column
                prop="email"
                label="邮箱">
              </el-table-column>
              <el-table-column
                prop="status"
                label="状态">
              </el-table-column>
              <el-table-column
                prop="createTime"
                label="创建时间">
              </el-table-column>
              <el-table-column
                fixed="right"
                label="操作">
                <template slot-scope="scope">
                  <el-button  icon="el-icon-view" @click="customerShow(scope.row.customerId)" circle></el-button>
                  <el-button type="primary" @click="updateStatusClick(scope.row.customerId)">修改状态</el-button>
                </template>
              </el-table-column>
            </el-table>
          </template>
          <el-pagination layout="prev, pager, next" :total="pageList.total" :page-size="pageList.pageSize"
            @current-change="pageClick">
        </el-pagination>
    </div>

    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="viewmodels/customerList.js"></script>

</body>

</html>