<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/elementui.css">
    <title>demo</title>
</head>

<body>
    <div id="app">
        
        <el-container>
            <el-header>
                OpenJCart电商系统
            </el-header>
            <el-container>
                <el-aside width="200px">
                    <el-row class="tac">
                        <el-col >
                          <el-menu
                            unique-opened 
                            router
                            class="el-menu-vertical-demo"
                            background-color="#4A4AFF"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                            <el-submenu  v-for="menu in menuArray" :index="menu.index">
                              <template slot="title">
                                <i :class="menu.icon"></i>
                                <span>{{menu.name}}</span>
                              </template>
                              <el-menu-item v-for="submenu in menu.submenu" :index="submenu.index" style="background-color:	#9393FF" :route="submenu.route">
                                {{submenu.name}}
                              </el-menu-item>
                            </el-submenu>
                          </el-menu>
                        </el-col>
                      </el-row>
                </el-aside>
                <el-main>
                    <router-view></router-view>
                </el-main>
            </el-container>      
        </el-container>
    </div>

    <script src="assets\vendor\tinymce\tinymce.min.js"></script>
    <script src="assets/js/axios.min.js"></script>
    <script src="assets/js/common.js"></script>
    <script src="assets/js/vue.js"></script>
    <script src="assets/js/elementui.js"></script>
    <script src="assets/js/vue-router.js"></script>
    
    <script src="routerPage/router-Product-List.js"></script>
    <script src="routerPage/router-product-create.js"></script>
    <script src="routerPage/router-product-update.js"></script>
    <script src="routerPage/router-product-show.js"></script>

    <script src="routerPage/router-customer-list.js"></script>
    <script src="routerPage/router-customer-show.js"></script>
    <script src="routerPage/router-customer-updateStatus.js"></script>

    <script src="routerPage/router-order-list.js"></script>
    <script src="routerPage/router-order-show.js"></script>

    <script src="routerPage/routes.js"></script>

    <script src="viewmodels/menu-navigate.js"></script>

</body>

</html>